<div class="modal">
    <div class="modal__content modal__content--contact">

        <button class="modal__close" type="button">
            <img src="/assets/images/close.svg" alt="Close">
        </button>

        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/linkedin.png" width="45" height="45" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/github.png" width="45" height="45" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/instagram-icon.svg" width="45" height="45" alt="">
                </a>
            </li>
        </ul>

    </div>
</div>