<aside class="sidebar">
    <div class="sidebar__header">
        <img src="/assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="/assets/images/avatar.png" alt="">
            <div class="profile__name">Evgeniy Zinkov</div>
            <div class="profile__prof">Junior Front-End Developer</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="/assets/images/linkedin.png" width=25px height=25px alt="EZ linkedin">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="/assets/images/github.png" width=25px height=25px alt="EZ github">
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="/assets/images/instagram-icon.svg" width=25px height=25px alt="EZ instagram">
                    </a>
                </li>
            </ul>

            <div class="profile__text">Hello, I'm a beginner front-end developer, and this is my first serious project</div>
        </div><!-- /.profile -->
    </div><!-- /.sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">My portfolio</a>
        <button class="btn btn--blue" type="button">Contact me</button>
    </div>
</aside>